@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #EE641D;
  --color-secondary: #5678E9;
}

@layer base {
  body {
    @apply font-sans bg-[#F6F8FB] text-[#202224];
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full hover:bg-gray-300 transition-colors;
  }

  .glass-card {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-lg;
  }
}
